:root {
  /* Color Palette */
  --primary-color: #2255a6;

  /*Text Color*/
  --primary-text-color: #374957;
  --secondary-text-color: #274764;
  --link-text-color: "green";

  /*Background Color*/
  --primary-background-color: #ffffff;
  --secondary-background-color: #f3f5fe;

  /*Border Color*/
  --primary-border-color: #e1e1e1;
  --secondary-border-color: #cfcfcf;

  /*Error Color*/
  --primary-error-color: #f5222d;

  /* Typography */
  --primary-font-family: "Open Sans", "Poppins", sans-serif, serif;

  /*Font Sizes*/

  /* Scroll */
  --scrollbar-color: #9e9e9e;
  --scrollbar-track-color: #d0cece;
  --scrollbar-border-radius: 10px;
}
:root.dark-theme {
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}
